<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

      <%= form_with url:login_path, method: :post, local: true do |f| %>
        <p>メールアドレス</p>
          <%= f.text_field :email %>
            <p>パスワード</p>
              <%= f.password_field :password %>
                <%= f.submit "ログイン" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
